@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    * {
        -webkit-tap-highlight-color: transparent;
    }

    html,
    body {
        height: 100%;
        overflow: hidden;
        overscroll-behavior: none;
        user-select: none;
        -webkit-user-select: none;
    }

    #app {
        height: 100%;
    }
}

@layer utilities {
    .safe-top {
        padding-top: env(safe-area-inset-top);
    }
    .safe-bottom {
        padding-bottom: env(safe-area-inset-bottom);
    }
}
